<h1>favorites_indexページ！</h1>
<% @favorites.each do |fav| %>
  <% story = fav.story %>
  <ul>
    <li><%= story.user.name %>さん</li>
    <li><%= story.content %></li>
    <% if story.image.present? %>
      <li><%= image_tag(story.image.url) %></li>
    <% end %>
    <li><%= link_to '詳細画面', story_path(story.id) %></li>
  </ul>
<% end %>
