<% @users.each do |user| %>
  <div class="topic clearfix">
    <div class="user_left">
      <% if user.image.present?%>
        <%= image_tag (user.image.url), size: "50x50" %>
      <% else %>
        <%= image_tag 'default.png', size: "50x50" %>
      <% end %>
    </div>
    <div class="user_right">
      <div>
        <%= user.name %>
      </div>
      <div>
        <%= link_to '詳細画面', user_path(user.id) %>
      </div>
    </div>
  </div>
<% end %>
