ul {
  list-style: none;
}
.header {
  border-color: gray;
  border: 0.5px solid;
  border-radius: 5px;
  margin: 0 5px;
  background-color: white;
}
.footer {
  border-color: gray;
  border: 0.5px solid;
  border-radius: 5px;
  margin: 0 5px;
  background-color: white;
  padding: 5px;
}
.main{
  margin-bottom: 80px;
}
.logo_image{
  width: 60%;
}
.link_box{
  width: 40%;
}
.footer_icon{
  font-size: 45px;
  color: black;
}
.flex{
  padding: 2.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
