.topic{
  border-color: black;
  border: 0.5px solid;
  padding: 10px;
  margin: 5px;
}
.topic_head{
  background-color: skyblue;
}
.user_left, .user_right{
  float: left;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.topic_main{
  padding: 20px;
}
.image{
  margin: 10px 0;
}
.resizeimage{
   width: 100%;
}
.favorite_icon{
  font-size: 30px;
}
