.go_out li{
  float: right;
  padding: 0 15px;
}
.user_menu{
  float: left;
  padding: 5px 15px 0 0;
}
.user_edit_container{
  max-width:400px;
  border: solid 1px skyblue;
  background: white;
  text-align: center;
}
